<h2>Mes Runes</h2>

<p-dataView [value]="runesContainer.Runes" layout="grid" [paginator]="true" [rows]="20" paginatorPosition="both">
    <ng-template let-rune pTemplate="gridItem">
        <div class="ui-g">
            <div class="ui-g-12">
                <p-panel>
                    <p-header>
                        <img src="assets/star-unawakened.png" alt="Stars" *ngFor="let i of getStarsCount(rune.Grade)" width="20">
                    </p-header>
                    <div>Slot: {{rune.Slot}}</div>
                    <div><img [src]="getSetImageSrc(rune.SetTypeName)" alt=""></div>
                    <div>Niveau: {{rune.Level}}</div>
                    <div>Main: {{rune.Main.toString()}}</div>
                    <div *ngIf="rune.Innate">Innate: {{rune.Innate.toString()}}</div>
                    <div>Subs:</div>
                    <div *ngFor="let sub of rune.Subs">
                        {{sub.toString()}}
                    </div>
                </p-panel>
            </div>
        </div>
    </ng-template>
</p-dataView>